body {
  font-family: "Garamond", sans-serif;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,878787+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #878787 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#878787 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#878787 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#878787',GradientType=0 ); /* IE6-9 */}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  pointer-events: none;
  background-color: rgba(255,255,255,100);
  padding: 10px;
  border: 1px solid #555;
}
